* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}
header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: white;
}
.pesquisa {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo img {
  width: 80px;
  height: auto;
  display: flex;
  align-items: center;
}
.usuario {
  display: flex;
  align-items: center;
  gap: 10px;
}
.usuario a {
  text-decoration: none;
  color: black;
}
main {
  width: 100%;
}
/* Área de promoções */

.promocao {
  height: calc(100vh - 60px);
  background-color: #d9d9d9;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.promocao img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.marcas {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 100px;
}

.marcas img {
  width: 150px;
  height: auto;
}
.produtos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  gap: 30px;
}
footer {
  background-color: #d8d8d8;
  padding: 50px 20px;
  text-align: center;
}
